POSTGRES_DB=__DATABASE_NAME__
POSTGRES_USER=__POSTGRES_USER__
POSTGRES_PASSWORD=__POSTGRES_PASSWORD__
POSTGRES_PORT=__POSTGRES_PORT__

SEQ_PORT=__SEQ_PORT__
SEQ_PASSWORD=__SEQ_PASSWORD__

API_PORT=__API_PORT__
ASPNETCORE_ENVIRONMENT=Development

ConnectionStrings__Database=Host=postgres;Port=5432;Database=__DATABASE_NAME__;Username=__POSTGRES_USER__;Password=__POSTGRES_PASSWORD__
Serilog__WriteTo__1__Args__serverUrl=http://seq:80