POSTGRES_DB=databaseName
POSTGRES_USER=postgresUser
POSTGRES_PASSWORD=postgresPassword
POSTGRES_PORT=postgresPort

SEQ_PORT=seqPort
SEQ_PASSWORD=seqPassword

API_PORT=apiPort
ASPNETCORE_ENVIRONMENT=Development

ConnectionStrings__Database=Host=postgres;Port=5432;Database=databaseName;Username=postgresUser;Password=postgresPassword
Serilog__WriteTo__1__Args__serverUrl=http://seq:80